.stats-card{
 
    min-height: 150px;
    padding: 20px;
    color: white;
    border-radius: 40px;
    width: 23%;
}

.social-card{
    min-height: 150px;
    background: white;
    border: 1px solid #ddd;
}


/* cntainer for the bottom right section */
.bottom-right-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.map-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  flex: 1;
  height: 250px;
  text-align: center;
  overflow: hidden;
}


.profile-card {
background: #a2d2f5;
border-radius: 5px;
padding: 20px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
flex: 1;
text-align: center;
}


.profile-img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.tag {
  background: #f0f2f5;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: #555;
}

.social-icon {
  margin: 0 10px;
  color: #888;
  cursor: pointer;
}


.map-placeholder {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 10px;
  min-height: 10px;
  
  overflow: hidden;
}

.map-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.stat-right-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border: 1px solid #eee;
}

.stat-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border: 2px solid;
}


.green-icon { border-color: #28a745; color: #28a745; }
.blue-icon { border-color: #007bff; color: #007bff; }
.yellow-icon { border-color: #ffc107; color: #ffc107; }

.stat-info {
    display: flex;
    flex-direction: column;
}

.stat-label {
    font-size: 0.8rem;
    color: #888;
}

.stat-value {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}


.traffic-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid #f0f0f0;
    text-align: center;
}

.footer-stat p {
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}

.footer-stat strong {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}


.progress-bar {
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress-bar.green { background-color: #4dbd74; }
.progress-bar.blue { background-color: #20a8d8; }
.progress-bar.yellow { background-color: #ffc107; }
.progress-bar.red { background-color: #f86c6b; }