.topbar {
  height: 60px;
  
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #e0e0e0;
}



.topbar-left h3 {
  font-size: 18px;
  color: #333;
}


.topbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.icon:hover {
  color: #000;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}